/*selettore di formattazione iniziale*/
body{
    background-color: aqua;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*classe contenitore*/
.container{
    /*padding-top: 5%;*/
    width: 80%;
    margin: 10% 10% 10% 10%; 
    padding-bottom: 5%; 
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    
}

.intest{
    padding-left: 1%;
    padding-top: 1%;
    background-color: white;
}

h1{
    display: inline;
}




.navigation{
    padding: 2% 2%;
    margin:5% 5%;
    background-color: white;
    border-bottom: 5px solid grey;
}

.botton{
    
    color: white;
    border-radius: 5%; 
    padding: 1%;
    margin-left: 1%;
}

.botton-white{
    color: grey;
    border: 2px solid grey;
    border-radius: 5%;
    padding: 1%;
    margin-left: 1%;
    
}

.task{
    padding: 5% 2%;
    margin:-5% 5%;
    background-color: white;
}

p{
    margin-top: 2%;
}

.mark{
    
    color: white;
    border: 1px solid;
    border-radius: 7px;
    font-size: 10px;
    padding: 1%;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;

}

.magenta{
    background-color: magenta;
}

.greenyellow{
    background-color: greenyellow;
}

/*.radius{
    border: 5px solid white;
    border-radius: 5px;
    background-color: white;
    margin: 20% 20% 20% 20%;
    padding-bottom:15%;
}*/
